body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(250deg, rgb(0, 157, 255), white, yellow, rgb(18, 205, 18));
    height: 100vh;
}

/* Fixed Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(190deg, #909090, #ffffff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.header .title {
    font-weight: bold;
    font-size: 50pt;
    cursor: pointer;
}

.header .button {
    cursor: pointer;
    padding: 10px;
    border: none;
    color: #000000;
    border-radius: 4px;
    font-weight: bolder;
}

/* Card Container */
.card-container {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    position: relative;
}


.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    width: 200px;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s; /* 添加缩放效果 */
    cursor: pointer;
}

.card-content h3 {
    font-size: 1.2em;
    margin: 0;
}

.card-content p {
    font-size: 0.9em;
}
/* Footer */
.footer {
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.gallery-view .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 根据卡片数量自适应列数 */
    grid-gap: 10px; /* 卡片间距 */
    justify-items: center;
    align-items: start;
    height: auto;
    padding: 20px;
}
.gallery-view .card {
    max-height: 180px; /* 设置最大高度 */
    overflow: hidden; /* 超出部分隐藏 */
}
.zone-1 {
    background-color: #f80808; /* Zone 1 颜色 */
    color: #000000;
}

.zone-2 {
    background-color: #C1FFC1; /* Zone 2 颜色 */
}

.zone-3 {
    background-color: #C1D4FF; /* Zone 3 颜色 */
}

.zone-4 {
    background-color: #FFC1E3; /* Zone 4 颜色 */
}

.zone-5 {
    background-color: #FFF1C1; /* Zone 5 颜色 */
}

.zone-6 {
    background-color: #D1C1FF; /* Zone 6 颜色 */
}
.card-image {
    width: 100%; /* 图片占满卡片宽度 */
    height: auto; /* 保持图片宽高比 */
    border-radius: 5px; /* 图片圆角 */
    bottom: auto;
}
.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #333;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: se-resize; /* 鼠标样式为缩放箭头 */
}